@model IEnumerable<TerrificTrioCakes.Models.DB.Ingredient>

@{
    ViewData["Title"] = "Ingredients";
}

<h1 style="font-family:verdana; color:darkseagreen">Ingredients</h1>

@if (User.IsInRole("Admin") | User.IsInRole("Staff"))
{
    <p>
    <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*admin and staff can edit and show details*@
                @if (User.IsInRole("Admin") | User.IsInRole("Staff"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a> | </a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                }

                @*only admin can delete a category*@
                @if (User.IsInRole("Admin"))
                {
                    <a> | </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
