@model IEnumerable<TerrificTrioCakes.Models.DB.MemberShip>

@{
    ViewData["Title"] = "Index";
}



<!DOCTYPE html>
<html lang="en">
<head>
    @*using fontawesome kit for icons styling*@
    <script src="https://kit.fontawesome.com/1269185472.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<style>
.alert {
  margin-top:20px;
  padding: 15px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>

<h3>Your Membership Details</h3>
<br />
<br />



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipExpiry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipDuration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

         @if(User.Identity.IsAuthenticated)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Membership)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MembershipExpiry)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MembershipDuration)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>




 <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>Note!</strong> Please Contact Us to Renew/Cancel Your Membership!.
        </div>
