@model IEnumerable<TerrificTrioCakes.Models.DB.MemberShip>

@{
    ViewData["Title"] = "Index";
}



<!DOCTYPE html>
<html lang="en">
<head>
    @*using fontawesome kit for icons styling*@
    <script src="https://kit.fontawesome.com/1269185472.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<h1>Add/Renew Memberships</h1>

<p>
    <a  class="btn btn-success btn-primary mb-2" asp-action="Create"> <i class="fa-solid fa-users"></i>Add New Membership</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membership)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipExpiry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipDuration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

         @if(User.Identity.IsAuthenticated & User.IsInRole("Admin"))
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Membership)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MembershipExpiry)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MembershipDuration)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
