@model IEnumerable<TerrificTrioCakes.Models.DB.Order>

@{
    ViewData["Title"] = "Index";
}

<div class="card cart-card-cls">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Order Confirmation</b></h4></div>
               </div>
            </div>    
            @if(ViewBag.Cart == null)
            {
                <p>Order Placed Successfully!!</p>
            }
            else{
                @foreach (var item in ViewBag.Cart)
                {
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="~/images/@item.Cake.Image"></div>
                            <div class="col">
                                <div class="row text-muted">@item.Cake.Name</div>
                            </div>
                            <div class="col">
                                <a href="#" class="border">@item.Quantity</a>
                            </div>
                            <div class="col">$ @item.Cake.Price <a asp-controller="cart" asp-route-id="@item.Cake.Id" asp-action="remove"> <span class="close">&#10005;</span></a></div>
                        </div>
                    </div>
                }
            }
            <div class="back-to-shop"><a asp-controller="Cake" asp-action="index">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;"> Total</div>
                <div class="col text-right">@ViewBag.total</div>
            </div>
            <div id="paypal-button-container"></div>

             
        </div>
    </div> 

</div>



<style>
    .alert {
        margin-top: 20px;
        padding: 15px;
        background-color: #f44336;
        color: white;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        .closebtn:hover {
            color: black;
        }
</style>

@*Alert for showing the discount calculated based on membership*@
@if (ViewBag.Empty != "Empty")
{
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>@ViewBag.Discount % Discount </strong>
    </div>

}




<script src="https://www.paypal.com/sdk/js?client-id=ATNwtOFAgffDhMfTE8dGXlau9W8Gv82HLENDNmAfobf55lKFzR1u48MWIaTOK4s6V0Rancd7L8HJSox3"></script>
<script>
    paypal.Buttons({
        createOrder: function (data, actions) {
            // This function sets up the details of the transaction,
            // including the amount and line item details.

            var grandTotal = @ViewBag.total
                        
                    return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: grandTotal
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            // This function captures the funds from the transaction.
            return actions.order.capture().then(function (details) 
            {
                // This function shows a transaction success message to your buyer.
                // When ready to go live, remove the alert and show a success message within this page. For example:
                const element = document.getElementById('paypal-button-container');
                element.innerHTML = '<h3>Thank you for your payment!</h3>' +
                    '<br><h4>Transaction completed by ' + details.payer.name.given_name + '</h4>';
                    window.location.href = '@Url.Action("Clear","Order")';
                   // alert("Cleared")
                

            });
            window.location.href = '@Url.Action("Index","Home")';
            alert("Home")
        }

    }).render('#paypal-button-container');
    </script>